<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <!-- my own -->
    <link rel="stylesheet" href="css/site.css">
    <script src="js/site.js"></script>

    <!-- font awessome -->
    <script src="https://kit.fontawesome.com/0b92c41e95.js" crossorigin="anonymous"></script>
    
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

    <!-- dataTables -->
    <link href="https://cdn.datatables.net/2.0.1/css/dataTables.jqueryui.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/3.0.0/css/buttons.jqueryui.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/3.0.0/css/responsive.jqueryui.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/scroller/2.4.0/css/scroller.jqueryui.min.css" rel="stylesheet">

    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.jqueryui.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.jqueryui.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.0/js/responsive.jqueryui.js"></script>
    <script src="https://cdn.datatables.net/scroller/2.4.0/js/dataTables.scroller.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/2.0.0/js/dataTables.colReorder.js"></script>
    <script src="https://cdn.datatables.net/colreorder/2.0.0/js/colReorder.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.0.2/sorting/date-eu.js"></script>
</head>
<body>
    <header>
        <nav class="bg-theme-yellow">
            <div class="container w-100 py-4 mx-5">
                <i class="fa-solid fa-bars fa-2xl a-theme-grey hvr-purple" data-bs-toggle="offcanvas" data-bs-target="#mainMenu" aria-controls="mainMenu"></i>
            </div>
        </nav>
    </header>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="mainMenu" aria-labelledby="mainMenuLabel">
        <div class="offcanvas-header">
          <h4 class="offcanvas-title" id="mainMenuLabel"> Stock Managment </h4>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body d-flex flex-column">
            <a href="/" class="btn bg-theme-yellow focus-yellow my-2 text-white hvr-purple">
                <i class="fa-solid fa-house"></i>
                Início
            </a>
            
            <a href="#" class="btn bg-theme-yellow focus-yellow my-2 text-white hvr-purple">
                <i class="fa-solid fa-user"></i>
                Minha Conta
            </a>

            <a href="#" class="btn bg-theme-yellow focus-yellow my-2 text-white hvr-purple">
                <i class="fa-solid fa-user"></i>
                Armazens
            </a>

            <a href="#" class="btn bg-theme-yellow focus-yellow my-2 text-white hvr-purple">
                <i class="fa-solid fa-user"></i>
                Produtos
            </a>
            
            <a class="btn bg-theme-yellow focus-yellow mt-2 text-white hvr-purple" data-bs-toggle="collapse" href="#AdmSubmenu" role="button" 
            aria-expanded="false" aria-controls="AdmSubmenu" onclick="ChangeArrow(event)">
                <i class="fa-brands fa-black-tie"></i>
                Administração
                <i class="fa-solid fa-chevron-left"></i>
            </a>
            <div class="collapse" id="AdmSubmenu">
                <div class="container">
                    <a href="/users" class="btn bg-theme-purple focus-purple text-white my-2 w-100 hvr-yellow">
                        <i class="fa-solid fa-users"></i>
                        Utilizadores
                    </a>
                </div>
            </div>

            <button type="button" onclick="Logout()" class="btn bg-theme-yellow focus-yellow my-2 text-white hvr-purple">
                <i class="fa-solid fa-user"></i>
                Sair
            </button>

        </div>
    </div>

    <div class="container pt-4">