{{ template "header.html" }}

    <h1> Definições de Conta </h1>

    <div class="col-md-12 d-flex py-3">
        <div class="col-md-5 pe-3">
            <label for="firstName"> Primeiro Nome </label>
            <input type="text" class="w-100 form-control" id="firstName" name="firstName" value="{{ .userInfo.FirstName }}">
        </div>
        <div class="col-md-5 pe-3">
            <label for="lastName"> Ultimo Nome </label>
            <input type="text" class="w-100 form-control" id="lastName" name="lastName" value="{{ .userInfo.LastName }}">
        </div>
    </div>

    <div class="col-md-12 d-flex py-3 justify-content-end pe-5">
        <div class="px-2 d-flex align-items-end">
            <button onclick="ChangePassword('{{ .userInfo.ID }}')" class="btn bg-white border-grey focus-blue color-grey px-3"
            data-bs-toggle="modal" data-bs-target="#ChangePasswordModal">
                Mudar Password
            </button>
        </div>
        
        <div class="px-2 d-flex align-items-end">
            <button onclick="ChangeInfo('{{ .userInfo.ID }}')" class="btn bg-blue focus-blue text-white px-3">
                Gravar
            </button>
        </div>
    </div>

    <div class="modal fade" id="ChangePasswordModal" tabindex="-1" aria-labelledby="ChangePasswordLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CreateUpdtModalLabel"> Mudar Passwrod </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100">
                        <label for="FirstName"> Password Antiga </label>
                        <input class="form-control" type="password" id="FirstName" name="FirstName">
                    </div>

                    <div class="w-100">
                        <label for="LastName"> Password Nova </label>
                        <input class="form-control" type="password" id="LastName" name="LastName">
                    </div>

                    <div class="w-100">
                        <label for="LastName"> Confirmar Password Nova </label>
                        <input class="form-control" type="password" id="LastName" name="LastName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-white border-grey focus-blue color-grey" data-bs-dismiss="modal"> Fechar </button>
                    <button id="UpdateBtt" type="button" class="btn text-white bg-green focus-green" 
                    onclick="ChangeActualPassword()"> Mudar </button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/myAccount.js"></script>
{{ template "footer.html" }}