{{ template "header.html" }}

    <h1> Utilizadores </h1>

    <div class="container pb-3 d-flex justify-content-end">
        <button class="btn bg-blue focus-blue text-white" 
        data-bs-toggle="modal" data-bs-target="#CreateUpdtModal" onclick="OpenUserCreator()">
            Novo Utilizador
            <i class="fa-solid fa-plus fa-xl"></i>
        </button>
    </div>

    <div class="container">
        <table id="UsersTbl" class="w-100 mt-3 responsive">
            <thead class="bottom-border-blue">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Data Criação
                    </th>
                    <th>
                        Utilidades
                    </th>
                </tr>
            </thead>
            <tbody>

                {{ range .users}}
                    <tr>
                        <td>
                            {{ .FirstName }} {{ .LastName }}
                        </td>
                        <td>
                            {{ .Email }}
                        </td>
                        <td class="dateTD">
                            {{ .CreationDate }}
                        </td>
                        <td>
                            <div class="w-100 d-flex justify-content-end ">
                                <button class="btn text-white bg-yellow focus-yellow mx-2" onclick="OpenUserEditor('{{ .ID }}')"
                                data-bs-toggle="modal" data-bs-target="#CreateUpdtModal">
                                    <i class="fa-solid fa-user-pen"></i>
                                </button>
    
                                <button class="btn text-white bg-red focus-red mx-2" onclick="DeleteUser('{{ .ID }}')">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>

    
    <div class="modal fade" id="CreateUpdtModal" tabindex="-1" aria-labelledby="CreateUpdtModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CreateUpdtModalLabel"> Criar Utilizador </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100">
                        <label for="FirstName"> Nome </label>
                        <input class="form-control" type="text" id="FirstName" name="FirstName">
                    </div>

                    <div class="w-100">
                        <label for="LastName"> Apelido </label>
                        <input class="form-control" type="text" id="LastName" name="LastName">
                    </div>

                    <div class="w-100">
                        <label for="Email"> Email </label>
                        <input class="form-control" type="text" id="Email" name="Email">
                    </div>

                    <div id="PassInputContainer" class="w-100">
                        <label for="Password"> Password </label>
                        <div class="w-100 d-flex align-items-center">
                            <input class="form-control w-75 complementary-left" type="text" id="Password" name="Password">
                            <button type="button" class="w-25 btn complementary-right text-white bg-blue focus-blue" onclick="GeneratePass()"> Gerar </button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-white focus-blue color-grey border-grey" data-bs-dismiss="modal"> Fechar </button>
                    <button id="CreateBtt" type="button" class="btn bg-green focus-green text-white" 
                    onclick="CreateUser()"> Criar </button>
                    <button id="UpdateBtt" type="button" class="btn bg-green focus-green text-white" 
                    onclick="EditUser()"> Editar </button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/users.js"></script>

{{ template "footer.html" }}